{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "indent": [2, 2],
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "no-console": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  }
}
